#map {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
}
#mousepos {
  position:fixed;
  bottom:10px;
  left:10px;
  padding:5px;
  z-index:100;
}
#commands {
  position:fixed;
  bottom:10px;
  left:300px;
  padding:5px;
  z-index:100;
}
#parameters {
  position:fixed;
  bottom:10px;
  left:440px;
  padding:5px;
  z-index:100;
}
